.select-block + .select-block{
    margin-top: 1.4rem;
}

.select-block label{
    font-size: 20px;
}

.select-block select{
    width: 100%;
    height: 5rem;
    border: 1px solid var(--color-line-in-white);
    margin-top: 0.3rem;
    font: 1.6rem 600 Nunito;
    color: var(--color-primary-darker);
    outline: 0;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    background: var(--color-input-background);
}

.select-block:focus-within::after{
    width: calc(100% - 3.2rem);
    height:2px;
    content:'';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}