#dentist-form-page{
    width: 100%;
    height: 100%;
    padding: 1.6rem 3.6rem;
    overflow-y: auto;
    max-height: 100vh;   
}

#dentist-form-page .top-buttons{
    padding-bottom: 2rem;
}

#dentist-form-page .top-buttons img{
    width: 20px;
    margin-right: 1rem;

}

#dentist-form-page .top-buttons a{
    display: flex;
    text-decoration: none;
    color: var(--color-primary);
    align-items: center;
    font-size: 20px;    

}

#dentist-form-page .dentist-form-page-outer{
    background: white;
    padding: 1.6rem 2.6rem;
    border-radius: 10px;
}
#dentist-form-page .dentist-form-page-outer h1{
    border-bottom: 1px solid var(--color-primary-darker);
    padding-top: 5rem;
    padding-bottom: 1rem;
    font: 600 3rem sans-serif;
    color: var(--color-primary-darker);
}

#dentist-form-page div .title{
    
    border-radius: 0;
    padding: 0 2.6rem;
}

#dentist-form-page .dentist-form-page-inputs{
    padding: 1.6rem 2.6rem;
}

#dentist-form-page .dentist-form-page-inputs input{
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    height: 5rem;
}

#dentist-form-page .dentist-form-page-inputs button{
    margin-top: 5rem;
    height: 5rem;
    width: 15rem;
    border: none;
    background: var(--color-primary-dark);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

#dentist-form-page .dentist-form-page-inputs button:hover{
    background: var(--color-primary-darker);
}
