#page-welcomemessage{
    background: var(--color-background-contrast);
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    color: var(--color-primary);
}

#page-welcomemessage h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}