#page-painel{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25rem auto;
    max-height:100vh;
}

#page-painel main{
    background: white;
    height:100%;
    width:100%;
    color: black;
}

#page-painel .sidebarPart{
    height: 100vh;
    max-height:100vh;
    position: sticky;
    top: 0;
    left: 0;
}